/* The above code is CSS code that defines the styling for various elements in a web page. It includes
styles for a registration form, a navbar, a landing page, and a payment container. The styles
include properties such as display, width, height, margin, padding, font-size, font-weight, color,
background-color, border, border-radius, box-shadow, and more. The code also includes media queries
for different screen sizes to ensure the styles are responsive. */
/* This is an HTML and PHP code for a registration form. The HTML code creates the structure of the
form, while the PHP code handles the form submission and validation. The PHP code checks if the form
has been submitted and performs validation on the input fields. If there are no errors, the data is
inserted into a database table. If there are errors, they are displayed to the user. */
.parent-container,
.parent-container-login{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.parent-container .left-side .title,
.parent-container-login .title{
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.parent-container .left-side,
.parent-container-login .right-side{
    display: flex;
    width: 40vw;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.parent-container .left-side .row,
.parent-container-login .right-side .row{
    width: 25rem;
}

.parent-container .left-side .row input,
.parent-container-login .right-side .row input{
    border: 1px solid #6657cb;
    height: 2.5em;
    border-radius: 8px;
}

.parent-container .right-side,
.parent-container-login .left-side{
    background-color: #dbd4f3;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent-container .right-side img{
    height: 50rem;
    width: auto;
}


.parent-container-login .left-side img{
    height: 40rem;
    width: auto;
}

.cta-btn{
    background-color: #dbd4f3;
    width: 100%;
    border: 1px solid #6657cb;
    height: 2.5em;
    border-radius: 8px;
    margin-top: 1rem;
}

.cta-btn:hover{
    color: #6657cb;
    background-color: #fff;
    cursor: pointer;
}

nav .logo{
    width: 3.5rem;
    height: auto;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light{
    background-color: #6657c6 !important;
}

nav .nav-item .nav-link{
    color: #ffff !important;
    margin: 0 1rem;
}

nav ul button{
    margin: 0 2rem;
    border: 1px solid #fff !important;
    color: #fff !important;
}

nav ul button:hover{
    background-color: #fff !important;
    color: #6657c6 !important;
}

nav .dropdown-menu a{
    color: #6657c6 !important;
}

nav .dropdown-menu a:hover{
    background-color: none !important;
}

nav .navbar-brand{
    color: #fff !important;
    font-weight: 600;
}

nav .navbar-brand-group{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

nav .navbar-brand-group .name{
    color: #fff !important;
}

nav .navbar-brand-group .name>input{
    background-color: transparent !important;
        border: none !important;
        color: #fff !important;
}

a .cta-btn{
    width: max-content !important;
}

.parent-container .payment-container a{
    width: min-content !important;
}

.middle-container{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.middle-container .title{
    font-size: 2rem;
    font-weight: 500;
    border-bottom: 5px solid #6657c6;
    width: fit-content;
    margin-bottom: 0.5rem;
}

.middle-container .card {
    width: 65rem;
    height: fit-content;
    border-radius: 10px;
}

.middle-container .card img{
    object-fit: cover;
    height: 20rem;
}

.carousel-item img{
    height: 20rem;
    width: auto;
    object-fit: cover;
}

.bottom-container .content{
    width: fit-content;
    padding: 3rem 2rem;
    line-height: 2;
}

.bottom-container .title{
    font-size: 2rem;
}

.bottom-container form{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    width: 80%;
    height: fit-content;
    padding: 2rem 1rem;
    margin-top: 0.75rem;
    border-radius: 10px;
}

.bottom-container .form-inputs{
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

a {
    text-decoration: none;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
}
  /* Medium */
@media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /* End Global Rules */
  
  /* Start Landing Page */
  .landing-page header {
    min-height: 80px;
    display: flex;
  }
  @media (max-width: 767px) {
    .landing-page header {
      min-height: auto;
      display: initial;
    }
  }
  .landing-page header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media (max-width: 767px) {
    .landing-page header .container {
      flex-direction: column;
      justify-content: center;
    }
  }
  .landing-page header .logo {
    color: #5d5d5d;
    font-style: italic;
    text-transform: uppercase;
    font-size: 20px;
  }
  @media (max-width: 767px) {
    .landing-page header .logo {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  .landing-page header .links {
    display: flex;
    align-items: center;
  }
  @media (max-width: 767px) {
    .landing-page header .links {
      text-align: center;
      gap: 10px;
    }
  }
  .landing-page header .links li {
    margin-left: 30px;
    color: #5d5d5d;
    cursor: pointer;
    transition: .3s;
  }
  @media (max-width: 767px) {
    .landing-page header .links li {
      margin-left: auto;
    }
  }
  .landing-page header .links li:last-child {
    border-radius: 20px;
    padding: 10px 20px;
    color: #FFF;
    background-color: #6657c6;
  }
  .landing-page header .links li:not(:last-child):hover {
    color: #6657c6;
  }
  .landing-page .content .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 140px;
    min-height: calc(100vh - 80px);
  }
  @media (max-width: 767px) {
    .landing-page .content .container {
      gap: 0;
      min-height: calc(100vh - 101px);
      justify-content: center;
      flex-direction: column-reverse;
    }
  }
  @media (max-width: 767px) {
    .landing-page .content .info {
      text-align: center;
    }
  }
  .landing-page .content .info h1 {
    color: #5d5d5d;
    font-size: 44px;
  }
  .landing-page .content .info p {
    margin: 0;
    line-height: 1.6;
    font-size: 15px;
    color: #5d5d5d;
  }
  .landing-page .content .info button {
    border: 0;
    border-radius: 20px;
    padding: 12px 30px;
    margin-top: 30px;
    cursor: pointer;
    color: #FFF;
    background-color: #6657c6;
  }
  .landing-page .content .image img {
    max-width: 100%;
  }
  /* End Landing Page */

  .parent-container{
    width: 100vw !important;
    display: flex;
  }

  .parent-container .map{
    width: 75vw !important;
    height: 100vh !important;
  }
  
  .parent-container .payment-container{
    background-color: #6657c6;
    margin: 0 !important;
    width: 25vw !important;
    color: #fff !important;
    padding: 0 2rem;
  }

  .payment-container .title{
    margin-top: 5rem;
    font-size: 2.4rem;
    font-weight: 700;
  }

  .payment-container .row{
    margin-top: 1rem;
  }

  .parent-container .row .sub-title{
    font-size: 1.5rem;
    font-weight: 500;
  }
